/* * სელექტორის საშუალებით, ინიშნება ყველა ელემენტი დოკუმეტში */
*{
    font-family: "Poppins", sans-serif ;
    color: #fff;
}

/* უკანა ფონის სურათი */
body{
    background: url("mountains.jpg");
    background-size: cover;
    height: 100vh;
}

/* ნავიგაციის მენიუ */

ul{
    padding-left: 250px;
    list-style: none;
    display: flex;  
}

ul li a{
    padding: 10px 20px;
    font-size: 20px;
    transition: ease .40s;
}

ul li a:hover{
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

#user:hover{
    background: transparent;

}

ul img{
    width: 20px;
}

/* ლოგო */
h1 {
    font-size: 40px;
}

h1 img{
    width: 40px;
}

/* გვერდის მთავარი ნაწილი */
main{
    padding-top: 150px;
    padding-left: 10px;
}

h2 {
    padding-bottom: 30px;
    line-height: 100px;
    font-size: 100px;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 3px;
}

p {
   line-height: 0.9cm;
   font-size: 20px;
   color: rgba(255, 255, 255, 0.836);
}

section a {
    color: rgb(82, 126, 246);
    background-color: rgba(229, 229, 232, 0.797);
    border: 1px solid transparent;
    padding: 12px 20px;
    border-radius: 2px;
    transition: ease .40s;
}

section a:hover {
    background-color: #fff;
}