/* * სელექტორის საშუალებით, ინიშნება ყველა ელემენტი დოკუმეტში */
*{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* უკანა ფონის სურათი */

body {
    height: 100vh; /*ელემენტის სიმაღლე დაყენებულია ბრაუზერის ფანჯრის ხილული ნაწილის სიმაღლის 100%-ზე.*/
    background-image: url("mountains.jpg");
    background-size: 100%; /*ვაყენებთ ფონის ზომას, მშობელი ელემენტის ზომის 100%ზე*/
    background-position: center; /*ვაყენებთ ფონს ელემენტის ცენტრში*/ 
    animation: shrink 5s; /*ვიყენებთ მოცემულ ელემენტზე shrink ანიმაციას რომელიც გრძელდება 5 წამი*/
  }

@keyframes shrink { /*@keyframes არის საკვანძო სიტყვა რომლითაც ჩვენ ვქმნით ანიმაციას, shrink კი არის ანიმაციის სახელი*/
    0% {
      background-size: 120%; /*ანიმაციის დასაწყისში ფონის ზომა არის მშობელი ელემენტის ზომის 120%-ზე*/
    }
    100% {
      background-size: 100%;/*ანიმაციის დასასრულში ფონის ზომა ხდება მშობელი ელემენტის ზომის 100%*/
    }
}

/* ნავიგაციის მენიუ */

header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: center;
    text-align: center;
} 

header ul {
    align-items: center;
    padding-left: 260px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

ul li a{
    padding: 10px 20px;
    font-size: 20px;
    transition: ease .40s;
    text-decoration: none;
}

ul li a:hover{
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

#user:hover{
    background-color: transparent;
}

ul img{
    width: 20px;
}

/* ლოგო */
h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}


h1 img{
    width: 40px;
}

/* გვერდის მთავარი ნაწილი */
main{
    padding-left: 260px;

}

h2 {
    line-height: 80px;
    font-size: 90px;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 3px;
}

p {
   line-height: 30px;
   font-size: 20px;
   color: rgba(255, 255, 255, 0.836);
}

section a {
    color: rgb(82, 126, 246);
    background-color: rgba(229, 229, 232, 0.797);
    border: 1px solid transparent;
    padding: 12px 20px;
    border-radius: 2px;
    transition: ease .40s;
}

section a:hover {
    background-color: #fff;
}