body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* ნავიგაციის მენიუ */
#header1 {
    z-index: 3;
    position: fixed;
    padding-top: 15px;
    display: flex;
    padding-left: 270px;
    text-align: center;
    background-color: #5496fa;
    padding-right: 200px;
}

#header1 h1 {
    margin-top: 15px;
    font-size: 40px;
}

#header1 h1 a{
    text-decoration: none;
    color: #000000;
}

#header1 ul {
    margin-top: 30px;
    padding-left: 260px;
    list-style: none;
    display: flex;
}

#header1 ul li a{
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    transition: ease .40s;
    text-decoration: none;
}   

header ul li a:hover{
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

#user:hover{
    background: transparent;
}


ul img{
    width: 20px;
}
/* ლოგო */
h1 {
    font-size: 40px;
}

h1 img{
    width: 40px;
}

/* მთავარი */
main {
    padding-top: 120px;
    text-align: center;
}

main h2{
    text-align: center;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    letter-spacing: 1px;
    padding-bottom: 40px;
    font-size: 30px;
    padding-top: 20px;
}

hr{
    margin-bottom: 50px;
}

main h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 img{
    width: 60px;
    padding: 10px;
}

.hotel p img{
    width: 16px
}

section#hotels {
    display: flex;
    flex-wrap: wrap; /* მოცემული დეკლარაციით ჩვენ ვეუბნებით ბრაუზერს რომ გადაიტანოს კონტეინერის ელენეტები ახალ ხაზზე თუ მიმდინარე ხაზზე ვერ ეტევიან */
    justify-content: center;
}

.hotel-img{
    height: 200px;
}


.hotel {
    color:#6b6a6a;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #d7d6d6;
    transition: ease .40s;
}
 
.hotel:hover {
    z-index: 2;
    border: 1px solid #5496fa;
    transform: scale(1.1);
}

.hotel img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hotel p {
    margin: 10px 0;
}

.hotel h3{
    color: #000000;
}

button{
    background-color: #5496fa;
    color:#fff;
    border-radius: 5px;
    border: none;
    padding: 5px;
    transition: ease 0.4s;
}

button:hover{
    background-color: #7cadf7;
    transform: scale(1.1);
}

/* საიტის ბოლო ნაწილი */
footer {
    background-color: #549cfa;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

footer h2 {
    margin-bottom: 10px;
}

footer p {
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    margin: 5px 0;
}